<div class="kartoffel">
    <h2 class="kartoffel__title">Efficient Potato</h2>
    <p class="kartoffel__body">Lorem ipsum ist ein pseudo-Lateinischer Text für Webdesign, Typografie, Layout und Printmedien. Er ersetzt Deutsch um Designelemente gegenüber dem Inhalt hervorzuheben. Die Phrase ist gekürzt aus dem lateinischen do‌lōrem (Schmerz) und ipsum (selbst) aus Ciceros De finibus bonorum et malorum, Liber Primus, 1:32.</p>
</div>
